@import "styles.scss";

.header-container {
  background-color: $color-blue-7;
  // border-bottom: 1px solid $color-grey-4;
  box-shadow: 0px 0px 20px 0px $color-grey-4;
  width: 100%;
  min-height: 80px;
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  .logo-container {
    width: 400px;
    padding-left: 10px;
    h1 {
      color: $color-grey-2;
    }
  }
  .nav-container {
    text-align: end;
  }
}
